<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>12-1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>GPT 2-1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>GPT 2-2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>GPT 2-3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GPT 2-5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Work.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>adj_list 10.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>eunbi 2-3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>work 1-1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>work 1-2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>work 1-3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>work 1-4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>work 2-1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>work 2-2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>work 2-3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>work 2-5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E13E3EA2AEE8A5200C2E1DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB364982ABDA5B100BC0E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB364A62ABDAC3D00BC0E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB364B12ABDBA7C00BC0E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB364BC2AC0982500BC0E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EECF6D92AE7B93B002539A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EECF6EF2AE7C0CB002539A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EECF7052AEAD29A002539A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EECF7102AEAD974002539A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
